<h1>Obs'Mercantour</h1>
<p>Obs’Mercantour est un projet développé par le parc national du Mercantour, la Ligue pour la Protection des Oiseaux Auvergne-Rhônes-Alpes 
   et le Syndicat Mixte de la Camargue Gardoise pour rassembler, de façon volontaire, des données naturalistes de plusieurs groupes taxonomiques, 
   en vue d’en restituer les principaux éléments d’abord aux participants inscrits, mais aussi au public le plus large. </p>

<h2>A propos du site</h2>
<p>Le parc national du Mercantour souhaite impliquer ses concitoyens et le nombreux visiteurs dans la collecte de données naturalistes. 
   Le but principal de cet outil est d’améliorer les connaissances naturalistes et de contribuer de manière générale à une meilleure protection 
   de la biodiversité en valorisant les observations et en sensibilisant le public à la nature environnante.

   Les participants inscrits peuvent être des personnes physiques ou morales. Chacun est libre de renseigner les données qu’il souhaite.

   Toute donnée saisie sera publique et deviendra la propriété du parc national du Mercantour.</p>

<h3>Comment utiliser Obs'Mercantour ?</h3>
<p>1 - Créer un compte dans Obs'Mercantour
<br>2 - Saisir vos observations naturalistes dans Obs'Mercantour<br>
<br>Le tutoriel vidéo ci-dessous vous permet de suivre pas à pas l'intégration d'une données dans l'un des programmes de saisie. Attention la création d'un compte n'est pas obligatoire pour pouvoir partager ses données. La création d'un compte permettra aux utilisateurs de retrouver leurs données et de les modifier et de les exporter le cas échéant.<br>
</p>

<p><iframe width="560" height="315" src="https://www.youtube.com/embed/okb-_4QjP_8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>

<h4></h4>
<p></p>
